{{define "status"}}
[![Build Status](https://github.com/aaabigfish/gocryptotrader/actions/workflows/tests.yml/badge.svg?branch=master)](https://github.com/aaabigfish/gocryptotrader/actions/workflows/tests.yml)
[![Software License](https://img.shields.io/badge/License-MIT-orange.svg?style=flat-square)](https://github.com/aaabigfish/gocryptotrader/blob/master/LICENSE)
{{with .}}[![GoDoc](https://godoc.org/github.com/aaabigfish/gocryptotrader?status.svg)](https://godoc.org/github.com/aaabigfish/gocryptotrader/{{.}}){{else}}[![GoDoc](https://godoc.org/github.com/aaabigfish/gocryptotrader?status.svg)](https://godoc.org/github.com/aaabigfish/gocryptotrader/){{end}}
[![Coverage Status](http://codecov.io/github/thrasher-corp/gocryptotrader/coverage.svg?branch=master)](http://codecov.io/github/thrasher-corp/gocryptotrader?branch=master)
[![Go Report Card](https://goreportcard.com/badge/github.com/aaabigfish/gocryptotrader)](https://goreportcard.com/report/github.com/aaabigfish/gocryptotrader)
{{end}}
